
.home{
    background-image: url(../../img/paperback-hero-light.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
h1,h3 {
    font-family: 'Open Sans Light', 'Open Sans', sans-serif !important;
    font-weight: 200 !important;
    color: #212833;
}