.carousel-item-wrapper {
  width: 90%;
  height: 500px; /* You can adjust height */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item-wrapper img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
